@font-face {
	font-family: 'MarioBros';
	src: url('font/prstartk.ttf');
}

body {
	background-color: #6b8cff;
	color: #fff;
	font-family: 'MarioBros';
}

#bumps {
	width: 600px;
	margin: 2em auto;
	padding: 2em;

	border: 16px solid white;
	border-radius: 32px;

	box-shadow: -32px -32px 0 rgba(0,0,0,1);

	direction: rtl;

	transform: rotate(180deg);
}

.coin {
	margin: 4px;
	height: 64px;

	transform: rotate(180deg);

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;

	animation-duration: 1s;
	animation-name: rotatein;
}

@keyframes rotatein {
	from {
		height: 0px;
		transform: rotate(-270deg);
	}

	to {
		height: 64px;
		transform: rotate(180deg);
	}
}

#bump {
	font-family: 'MarioBros';
	font-size: 32px;

	display: block;
	margin: auto;
	margin-top: 1em;
	height: 128px;
	width: 256px;

	border: 8px solid #fff;
	border-radius: 16px;
	background-color: #6b8cff;
	color: #fff;
}

#bump:hover {
	text-shadow: 8px 8px 0 rgba(0,0,0,1);
	box-shadow: 8px 8px 0 rgba(0,0,0,1);
}
